body {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  padding: 20px;
}

.upload h1 {
  text-align: center;
}

.upload form {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  /* border: 4px dashed #fff; */
  text-align: center;
  position: relative;
}

.emoji {
  font-size: 72px;
}

.rotate {
  display: block;
  transform-origin: center center;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
