body {
  background-color: rgba(0,0,0,0.9);
  color: #ffffff;
  padding: 20px;
}

.upload h1 {
  text-align: center;
}

.upload form {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  border: 4px dashed #fff;
  text-align: center;
}

.upload form p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}

.upload form input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

.upload form button {
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.upload form button:hover{
  background: #149174;
	color: #0C5645;
}

.upload form button:active{
  border:0;
}
